<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home Rental - "#{data.page_title}"</title>
        <link rel="stylesheet" href="/css/base.css" th:href="@{/css/base.css}" />
    </head>
    <body>
        <div>
            <h3>User :</h3>
            <p class="red" th:text="${user.id}"></p>
            <p th:text="${user.name}"></p>
            <p th:text="${user.email}"></p>
            <h3>Property :</h3>
            <p class="green" th:text="${property.id}">property_id</p>
            <p th:text="${property.title}"></p>
            <p th:text="${property.owner.name}"></p>
            <p th:text="${property.shortDesc}"></p>
            <p th:text="${property.longDesc}"></p>
            <p class="red" th:text="${property.price}"></p>
            <p th:text="${property.city}"></p>
        </div>
    </body>
</html>