<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      lang="en">

    <head>
    </head>

    <body>

        <div id="auth-container">
            <div class="auth-header">
                <h3 id="auth-label">Home Rental Login</h3>
            </div>
            <div class="auth-body">
                <p>Welcome to <strong>Home Rental</strong> Website. Please enter your username/password and click on <strong>Login</strong>.</p>
                <p class="form-error">
                    <span></span>
                </p>
                <form method="POST" th:action="@{login-ajax}" id="auth-process-ajax-login">
                    <div class="form-group">
                        <label class="pull-left" for="auth_username"><strong>Username :</strong></label>
                        <div class="pull-left field-container">
                            <input type="text" id="auth_username" name="auth_username" maxlength="30" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="auth_pwd"><strong>Password :</strong></label>
                        <div class="pull-left field-container">
                            <input type="password" id="auth_pwd" name="auth_pwd" maxlength="30" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div><!-- /end auth-container -->
        
    </body>
</html>