<div class="modal-body">
    <p>Welcome to <strong>Home Rental</strong> Website. Please enter your username/password and click on <strong>Login</strong>.</p>
    <p class="form-error"></p>
    <form method="POST" action="/home-rental/login" id="auth-process-login">
        <div class="form-group">
            <p class="pull-left"><strong>Username :</strong></p>
            <div class="pull-left field-container">
                <input type="text" name="auth_username" maxlength="30" />
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="form-group">
            <p class="pull-left"><strong>Password :</strong></p>
            <div class="pull-left field-container">
                <input type="password" name="auth_pwd" maxlength="30" />
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
</div>