<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      lang="en">

    <head>
        <title tiles:fragment="title">Home Rental | Signup</title>
    </head>

    <body tiles:fragment="content">

        <div class="auth-container">
            <div class="auth-header">
                <img src="/img/global/ajax-loader.gif" th:src="@{/img/global/ajax-loader.gif}" class="ajax-loader pull-right" alt="Ajax loader animated gif" /><h3 id="auth-label">Home Rental Signup</h3>
            </div>
            <div class="auth-body">
                <p>Welcome to <strong>Home Rental</strong> Website. To create a new account, please enter your informations and click on <strong>Signup</strong>.</p>
                <p class="form-error"></p>
                <form method="POST" action="" id="auth-process-signup">
                    <div class="form-group">
                        <p class="pull-left"><strong>Username :</strong></p>
                        <div class="pull-left field-container">
                            <input type="text" name="auth_username" maxlength="30" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <p class="pull-left"><strong>Name :</strong></p>
                        <div class="pull-left field-container">
                            <input type="text" name="auth_name" maxlength="30" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <p class="pull-left"><strong>Firstname :</strong></p>
                        <div class="pull-left field-container">
                            <input type="text" name="auth_firstname" maxlength="30" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <p class="pull-left"><strong>Email :</strong></p>
                        <div class="pull-left field-container">
                            <input type="email" name="auth_email" maxlength="100" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <p class="pull-left"><strong>Password :</strong></p>
                        <div class="pull-left field-container">
                            <input type="password" name="auth_pwd" maxlength="30" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
            <div class="auth-footer">
                <button class="btn" data-dismiss="auth" aria-hidden="true">Cancel</button>
                <input type="submit" form="auth-process-login" class="btn btn-primary" value="Login" />
            </div>
        </div><!-- /end auth-container -->
        
        <!-- Custom js page specific -->
        <div tiles:fragment="js-specific">
            <script type="text/javascript" src="#" th:src="@{/js/auth.js}"></script>
        </div>
        
    </body>
</html>