<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      lang="en">

    <head>
        <title tiles:fragment="title">Home Rental | Signup</title>
    </head>

    <body tiles:fragment="content">

        <div id="auth-container">
            <div class="auth-header">
                <h3 id="auth-label">Home Rental Signup</h3>
            </div>
            <div class="auth-body">
                <p>Welcome to <strong>Home Rental</strong> Website. To create a new account, please enter your informations and click on <strong>Signup</strong>.</p>
                <p class="form-error"></p>
                <form method="POST" action="" id="auth-process-signup">
                    <div class="form-group">
                        <label class="pull-left" for="auth_username"><strong>Username :</strong></label>
                        <div class="pull-left field-container">
                            <input type="text" id="auth_username" name="auth_username" maxlength="30" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="auth_name"><strong>Name :</strong></label>
                        <div class="pull-left field-container">
                            <input type="text" id="auth_name" name="auth_name" maxlength="30" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="auth_firstname"><strong>Firstname :</strong></label>
                        <div class="pull-left field-container">
                            <input type="text" id="auth_firstname" name="auth_firstname" maxlength="30" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="auth_email"><strong>Email :</strong></label>
                        <div class="pull-left field-container">
                            <input type="email" id="auth_email" name="auth_email" maxlength="100" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="auth_pwd"><strong>Password :</strong></label>
                        <div class="pull-left field-container">
                            <input type="password" id="auth_pwd" name="auth_pwd" maxlength="30" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
            <div class="auth-footer">
                <button class="btn" data-dismiss="auth" aria-hidden="true">Cancel</button>
                <input type="submit" form="auth-process-login" class="btn btn-primary" value="Signup" />
            </div>
        </div><!-- /end auth-container -->

        <!-- Custom js page specific -->
        <div tiles:fragment="js-specific">
            <script type="text/javascript" src="#" th:src="@{/js/auth.js}"></script>
        </div>

    </body>
</html>