<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      lang="en">

    <head>
        <title tiles:include="title"></title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="keywords" content="home rental" />
        <meta name="authors" content="airboy and brnrd" />

        <!-- JQuery UI CSS -->
        <link rel="stylesheet" href="/css/jquery-ui/jquery-ui.css" th:href="@{/css/jquery-ui/jquery-ui.css}" />
        <link rel="stylesheet" href="/css/jquery-ui/jquery.ui.core.css" th:href="@{/css/jquery-ui/jquery.ui.core.css}" />
        <link rel="stylesheet" href="/css/jquery-ui/jquery.ui.datepicker.css" th:href="@{/css/jquery-ui/jquery.ui.datepicker.css}" />

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/base.css" th:href="@{/css/base.css}" />
        <link rel="stylesheet" href="/css/home.css" th:href="@{/css/home.css}" />
        <link rel="stylesheet" href="/css/new.css" th:href="@{/css/new.css}" />

        <!-- Google Maps API import -->
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&amp;sensor=false"></script>
    </head>
    <body>
        <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <div class="pull-right login">
                                <div class="btn-login">
                                    <a href="/signin/">
                                        <span>Connexion</span>
                                    </a>
                                </div>
                            </div><!-- /end login -->
                            <ul class="nav">
                                <li>
                                    <a href="/" id="logo">
                                        <img src="/img/global/logo.png" th:src="@{/img/global/logo.png}" alt="logo home rental" />
                                    </a>
                                </li>
                                <li th:class="${home} ? 'active' : ''">
                                    <a href="/">
                                        <span>Home</span>
                                    </a>
                                </li>
                                <li th:class="${help} ? 'active' : ''">
                                    <a href="/help/">
                                        <span>Help</span>
                                    </a>
                                </li>
                            </ul>
                        </div><!-- /end span12 -->
                    </div><!-- /end row -->
                </div><!-- /end container -->
            </div><!-- /end navbar-inner -->
        </div><!-- /end navbar -->

        <div class="clearfix"></div>

        <div id="wrapper">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div id="search-bar">
                            <form action="" id="search_form">
                                <div class="input-wrapper">
                                    <input type="text" class="location" id="location-search" placeholder="Where do you want to go ?" />
                                </div>
                                <div class="input-wrapper">
                                    <input type="text" class="checkin" id="checkin" placeholder="Check In" />
                                    <i class="icon-calendar"></i>
                                </div>
                                <div class="input-wrapper">
                                    <input type="text" class="checkout" id="checkout" placeholder="Check Out" />
                                    <i class="icon-calendar"></i>
                                </div>
                                <div class="btn-group pull-left">
                                    <button class="btn btn-inverse btn-dpd"><strong>1 host</strong><i class="icon-user icon-white"></i></button>
                                    <button class="btn btn-inverse carret-dpd dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                        <li><a tabindex="-1" href="#">2 hosts</a></li>
                                        <li><a tabindex="-1" href="#">3 hosts</a></li>
                                        <li><a tabindex="-1" href="#">4 hosts</a></li>
                                        <li><a tabindex="-1" href="#">5 hosts</a></li>
                                        <li><a tabindex="-1" href="#">6 hosts</a></li>
                                        <li><a tabindex="-1" href="#">7 hosts</a></li>
                                        <li><a tabindex="-1" href="#">8 hosts</a></li>
                                        <li><a tabindex="-1" href="#">9 hosts</a></li>
                                        <li><a tabindex="-1" href="#">10 hosts</a></li>
                                        <li><a tabindex="-1" href="#">11 hosts</a></li>
                                        <li><a tabindex="-1" href="#">12+ hosts</a></li>
                                    </ul>
                                </div>

                                <button type="submit" id="btn-search" class="pull-left btn btn-primary"><i class="icon-search icon-white"></i><strong>Search</strong></button>
                                <div class="clearfix"></div>
                            </form>
                        </div>

                        <div class="content" tiles:include="body"></div>
                    </div>
                </div>
            </div>
        </div><!-- /end wrapper -->

        <div id="footer-wrapper">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <p><a href="">Report a bug</a> - <a href="/help/">Help center</a></p>
                        <p id="app-ref"><a href="http://www.springsource.org/spring-framework" target="_blank">Spring 3.2.2</a> - Home Rental © 2013 - version: <span class="warning">0.1.0</span></p>
                    </div>
                </div>
            </div><!-- /end container -->
        </div><!-- /end footer-wrapper -->

        <!-- JS import -->
        <!-- Global imports -->
        <script type="text/javascript" src="#" th:src="@{/js/global/jquery.js}"></script>
        <script type="text/javascript" src="#" th:src="@{/js/global/jquery-ui.js}"></script>

        <!-- Bootstrap imports -->
        <script type="text/javascript" src="#" th:src="@{/js/bootstrap/bootstrap-button.js}"></script>
        <script type="text/javascript" src="#" th:src="@{/js/bootstrap/bootstrap-dropdown.js}"></script>
        <script type="text/javascript" src="#" th:src="@{/js/bootstrap/bootstrap-tab.js}"></script>
        <script type="text/javascript" src="#" th:src="@{/js/bootstrap/bootstrap-typeahead.js}"></script>

        <!-- Custom js -->
        <script type="text/javascript" src="#" th:src="@{/js/carousel.js}"></script>
        <script type="text/javascript" src="#" th:src="@{/js/base.js}"></script>
        <script type="text/javascript" src="#" th:src="@{/js/new.js}"></script>

        <!-- Custom JS page specific imports - Little hack to import page specific js ! ;-) -->
        <!--<div tiles:substituteby="js"></div>-->
        
        <!-- JS Inline -->

    </body>
</html>