# NetBeans specific #                                                                                   
nbproject/private/
build/
nbbuild/
dist/
nbdist/
target/
build.xml
manifest.mf
build-impl.xml
                   
# Class Files #
*.class
*.jar

# Vim, OS, ...
*.un~
*.swp
