<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="web"/>

    <mvc:annotation-driven />
    
    <mvc:resources location="/WEB-INF/media/img/" mapping="/img/**" /> 
    <mvc:resources location="/WEB-INF/media/css/" mapping="/css/**" />
    <mvc:resources location="/WEB-INF/media/js/" mapping="/js/**" />

    <mvc:view-controller path="/login" view-name="login" />

    <mvc:view-controller path="/protected" view-name="protected" />

    <!--
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/templates/" />
        <property name="suffix" value=".jsp" />
    </bean>
    -->
    
    <!-- ThymeLeaf config -->
    <bean id="httpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter">
        <property name="supportedMediaTypes" value = "text/plain;charset=UTF-8" />
    </bean>
        
    <bean id="templateResolver"	class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
        <property name="prefix" value="/WEB-INF/templates/" /> 
        <property name="templateMode" value="HTML5" /> 
    </bean>

    <bean id="templateEngine" class="org.thymeleaf.spring3.SpringTemplateEngine"> 
        <property name="templateResolver" ref="templateResolver" />
        <property name="additionalDialects">
            <set>
                <bean class="org.thymeleaf.extras.tiles2.dialect.TilesDialect"/>
                <bean class="org.thymeleaf.extras.springsecurity3.dialect.SpringSecurityDialect"/>
                <bean class="org.thymeleaf.extras.conditionalcomments.dialect.ConditionalCommentsDialect"/>
            </set>
        </property>
    </bean>

    <!-- Resolves logical view names returned by Controllers to Tiles; a view name to resolve is treated as the name of a tiles definition -->
    <bean id="tilesViewResolver" class="org.thymeleaf.spring3.view.AjaxThymeleafViewResolver">
        <property name="viewClass" value="org.thymeleaf.extras.tiles2.spring.web.view.FlowAjaxThymeleafTilesView"/>
        <property name="templateEngine" ref="templateEngine"/>
    </bean>
  
    <!-- Configures the Tiles layout system using a specific thymeleaf-enabled Tiles Configurer -->
    <bean id="tilesConfigurer" class="org.thymeleaf.extras.tiles2.spring.web.configurer.ThymeleafTilesConfigurer">
        <property name="definitions">
            <list>
                <value>/WEB-INF/**/views.xml</value>
            </list>
        </property>
    </bean>

    <!--
    <bean class="org.thymeleaf.spring3.view.ThymeleafViewResolver"> 
        <property name="templateEngine" ref="templateEngine" /> 
        <property name="characterEncoding" value="UTF-8"/>
    </bean>
    -->
</beans>