/* CSS - base - Home Renatl Project
 * Date of creation : 17/04/2013
 * Creator : brnrd
 * Target : new
 * Last modification : 17/04/2013
 * ------------------------------------------------------------------- */

#city-maps {
    text-align: center;
    margin-bottom: 30px;
}

textarea {
    resize: none !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 500px !important;
    min-width:500px !important; 
    max-width:500px !important; 
    height: 100px !important;
    min-height:100px !important; 
    max-height:100px !important;
    overflow: auto !important;
}



#icon-calendar {
    position: relative !important;
    top: 3px !important;
    left: -6px !important;
}
