/* CSS - base - Home Renatl Project
 * Date of creation : 17/04/2013
 * Creator : brnrd
 * Target : new
 * Last modification : 17/04/2013
 * ------------------------------------------------------------------- */
#map {
  height: 400px;
  widht: 100%;
}
#map #map-canvas {
  height: 100%;
  width: 100%;
}
#map .city-maps-container {
  position: relative;
  top: -80px;
  left: 340px;
  border: 1px solid #aaa;
  border-radius: 5px;
  text-align: center;
}
#map .city-maps-container #city-maps {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
}
textarea {
  resize: none !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 500px !important;
  min-width: 500px !important;
  max-width: 500px !important;
  height: 100px !important;
  min-height: 100px !important;
  max-height: 100px !important;
  overflow: auto !important;
}
#icon-calendar {
  position: relative !important;
  top: 3px !important;
  left: -6px !important;
}
