<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        
        <mapping class="web.model.User"/>
        <mapping class="web.model.Property"/>
        <mapping class="web.model.Reservation"/>
        <mapping class="web.model.Comment"/>
        <mapping class="web.model.Evaluation"/>
        <mapping class="web.model.Options"/>
        
    </session-factory>
</hibernate-configuration>