<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      lang="en">

    <head>
        <title tiles:fragment="title">Home Rental | Home</title>
    </head>

    <body tiles:fragment="content">
        <div class="carousel-container">
            <ul class="pict-list">
                <li>
                    <img src="/img/carousel/time_square.jpg" th:src="@{/img/carousel/time_square.jpg}" alt="time square new york city" />
                </li>
                <li class="disabled">
                    <img src="/img/carousel/connemara.jpg" th:src="@{/img/carousel/connemara.jpg}" alt="connemara ireland" />
                </li>
            </ul>
        </div>
    </body>
</html>