<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      lang="en">

    <head>
        <title tiles:fragment="title">Home Rental | Home</title>
        <link rel="stylesheet" tiles:fragment="css-specific" href="/css/home.css" th:href="@{/css/home.css}" />
    </head>

    <body tiles:fragment="content">
        <div id="carousel">
            <ul id="frame-container">
                <li id="loft_1" class="active">
                    <img src="/img/carousel/loft1.jpg" th:src="@{/img/carousel/loft1.jpg}" alt="loft1" />
                    <div class="frame-caption">
                        <span class="frame-caption-title"><strong>Find a great place for holidays</strong></span>
                        <span class="frame-caption-description"><strong>Want to discover <b class="frame-caption-cityname">New York City</b> ? Find a great place to stay there !</strong></span>
                        <a href="search/new_york_city" class="btn btn-primary">Search for <strong>NYC</strong></a>
                    </div>
                </li>
                <li id="loft_2">
                    <img src="/img/carousel/loft2.jpg" th:src="@{/img/carousel/loft2.jpg}" alt="loft2" />
                    <div class="frame-caption">
                        <span class="frame-caption-title"><strong>Find a great place for holidays</strong></span>
                        <span class="frame-caption-description"><strong>Want to discover <b class="frame-caption-cityname">Berlin</b> ? Find a great place to stay there !</strong></span>
                        <a href="search/berlin" class="btn btn-primary">Search for <strong>Berlin</strong></a>
                    </div>
                </li>
                <li id="loft_3">
                    <img src="/img/carousel/loft3.jpg" th:src="@{/img/carousel/loft3.jpg}" alt="loft3" />
                    <div class="frame-caption">
                        <span class="frame-caption-title"><strong>Find a great place for holidays</strong></span>
                        <span class="frame-caption-description"><strong>Want to discover <b class="frame-caption-cityname">Los Angeles</b> ? Find a great place to stay there !</strong></span>
                        <a href="search/los_angeles" class="btn btn-primary">Search for <strong>Los Angeles</strong></a>
                    </div>
                </li>
                <li id="loft_4">
                    <img src="/img/carousel/loft4.jpg" th:src="@{/img/carousel/loft4.jpg}" alt="loft4" />
                    <div class="frame-caption">
                        <span class="frame-caption-title"><strong>Find a great place for holidays</strong></span>
                        <span class="frame-caption-description"><strong>Want to discover <b class="frame-caption-cityname">Dublin</b> ? Find a great place to stay there !</strong></span>
                        <a href="search/dublin" class="btn btn-primary">Search for <strong>Dublin</strong></a>
                    </div>
                </li>
                <li id="loft_5">
                    <img src="/img/carousel/loft5.jpg" th:src="@{/img/carousel/loft5.jpg}" alt="loft5" />
                    <div class="frame-caption">
                        <span class="frame-caption-title"><strong>Find a great place for holidays</strong></span>
                        <span class="frame-caption-description"><strong>Want to discover <b class="frame-caption-cityname">Stockhölm</b> ? Find a great place to stay there !</strong></span>
                        <a href="search/stockholm" class="btn btn-primary">Search for <strong>Stockhölm</strong></a>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Modal -->
        <div id="auth-modal-signup" class="modal hide fade" tabindex="1" role="dialog" aria-labelledby="auth-label" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <img src="/img/global/ajax-loader.gif" th:src="@{/img/global/ajax-loader.gif}" class="ajax-loader pull-right" alt="Ajax loader animated gif" /><h3 id="auth-label">Home Rental Signup</h3>
            </div>
            <div class="modal-body">
                <p>Welcome to <strong>Home Rental</strong> Website. To create a new account, please enter your informations and click on <strong>Signup</strong>.</p>
                <p class="form-error"></p>
                <form method="POST" action="" id="auth-process-signup">
                    <div class="form-group">
                        <p class="pull-left"><strong>Username :</strong></p>
                        <div class="pull-left field-container">
                            <input type="text" name="auth_username" maxlength="30" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <p class="pull-left"><strong>Name :</strong></p>
                        <div class="pull-left field-container">
                            <input type="text" name="auth_name" maxlength="30" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <p class="pull-left"><strong>Firstname :</strong></p>
                        <div class="pull-left field-container">
                            <input type="text" name="auth_firstname" maxlength="30" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <p class="pull-left"><strong>Email :</strong></p>
                        <div class="pull-left field-container">
                            <input type="email" name="auth_email" maxlength="100" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <p class="pull-left"><strong>Password :</strong></p>
                        <div class="pull-left field-container">
                            <input type="password" name="auth_pwd" maxlength="30" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <input type="submit" form="auth-process-signup" class="btn btn-primary" value="Signup" />
            </div>
        </div>
        
        <div id="auth-modal-login" class="modal hide fade" tabindex="1" role="dialog" aria-labelledby="auth-label" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <img src="/img/global/ajax-loader.gif" th:src="@{/img/global/ajax-loader.gif}" class="ajax-loader pull-right" alt="Ajax loader animated gif" /><h3 id="auth-label">Home Rental Login</h3>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <input type="submit" form="auth-process-login" class="btn btn-primary" value="Login" />
            </div>
        </div>

        <!-- Custom js page specific -->
        <div tiles:fragment="js-specific">
            <script type="text/javascript" src="#" th:src="@{/js/carousel.js}"></script>
            <script type="text/javascript" src="#" th:src="@{/js/auth.js}"></script>
        </div>

    </body>
</html>