<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      lang="en">
    <head>
        <title tiles:fragment="title">Home Rental | New Property</title>


    </head>
    <body tiles:fragment="content">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div id="map">
                        <input type="text" class="city-maps" id="location-search" placeholder="Please type the city here"/>
                    </div>
                </div>
            </div>
        </div>
        <form id="propertyForm" th:object="${newProperty}" th:action="@{/s/property/new}" method="post">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <input id="title" type="text" placeholder="Property title" th:field="*{property.title}"/>
                        <input id="address" type="text" placeholder="Address"  th:field="*{property.address}"/>
                        <input id="city" type="hidden" th:field="*{property.city}"/>
                        <input id="country" type="hidden" th:field="*{property.country}"/>
                        <input id="shortDesc" type="text" placeholder="Short description of the property" th:field="*{property.shortDesc}"/>
                        <select id="type" th:field="*{property.type}">
                            <option th:each="type : ${types}" 
                                    th:value="${type}" th:text="${type}"></option>
                        </select>
                        <select id="rooms" th:field="*{property.rooms}">
                            <option th:value="1">1 room</option>
                            <option th:value="2">2 rooms</option>
                            <option th:value="3">3 rooms</option>
                            <option th:value="4">4 rooms</option>
                            <option th:value="5">5 rooms</option>
                            <option th:value="6">6+ rooms</option>

                        </select>
                        <div class="submit">
                            <button class="btn btn-success btn-large" type="submit" >Save</button> 
                        </div>
                    </div>
                    <div class="span4">
                        <input id="price" type="text" placeholder="Price" th:field="*{property.price}"/>
                        <textarea id="longDesc" placeholder="Complete description of the property" th:field="*{property.longDesc}"/>
                        <h4>Options :</h4>
                        <input type="checkbox" th:field="*{options.parking}"/>Parking<br />
                        <input type="checkbox" th:field="*{options.swimmingPool}"/>Swimming pool<br />
                        <input type="checkbox" th:field="*{options.wifi}"/>Wi-Fi<br />
                        <input type="checkbox" th:field="*{options.laundry}"/>Laundry<br />
                    </div>
                    <div class="span4">
                        <input type="text" id="rentPeriodStart" placeholder="Rent period start" th:field="*{rentStart}"/>
                        <i class="icon-calendar"></i>
                        <input type="text" id="rentPeriodStop" placeholder="Rent period stop" th:field="*{rentStop}"/>
                        <i class="icon-calendar"></i>
                        <h4>Pictures</h4>
                        <input type="file" name="pict1" /><br />
                        <input type="file" name="pict2" /><br />
                        <input type="file" name="pict3" />
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>