<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      lang="en">
    <head>
        <title tiles:fragment="title" th:text="${data.page_title}"></title>

    </head>
    <body tiles:fragment="content">
        <div class="page-header">
            <h1 th:text="${property.title}"></h1>
        </div>
        <div class="row">
            <div class="span10">
                <p>MAPS GOES HERE</p>
            </div>
            <div class="span4">
                <h3>Description</h3>
                <p th:text="${property.country}"></p>
                <p th:text="${property.type}"></p>
                <p th:text="${property.rooms}+' chambres'"></p>
                <p></p>
                <p>Options</p>
                <div class="control-group">
                    <div class="constrols">
                        <label class="checkbox">
                            <input type="checkbox" name="options" value="parking" disabled="" th:checked="${options.parking}"/> Parking
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="options" value="piscine" disabled="" th:checked="${options.swimmingPool}"/> Piscine
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="options" value="wifi" disabled="" th:checked="${options.wifi}"/> Wi-Fi
                        </label>
                    </div>
                </div>
                <p th:text=" 'Note: '+${totalEval}+'/100'"></p>
            </div>
        </div>
        <div class="row">
            <div class="span10" id="propretyTab">
                <ul class="nav nav-tabs">
                    <li><a href="#presentation" data-toggle="tab">Présentation</a></li>
                    <li><a href="#pictures" data-toggle="tab">Photos</a></li>
                    <li><a href="#comments" data-toggle="tab">Commentaires</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="presentation">
                        <h3 th:text="${property.title}"></h3>
                        <p th:text="${property.longDesc}"></p>
                    </div>
                    <div class="tab-pane fade" id="pictures">PICTURES</div>
                    <div class="tab-pane fade" id="comments">COMMENTS</div>
                </div>
                <script>
                    $('#presentation a').click(function(e) {
                        e.preventDefault();
                        $(this).tab('show');
                    });
                    $('#pictures a').click(function(e) {
                        e.preventDefault();
                        $(this).tab('show');
                    });
                    $('#comments a').click(function(e) {
                        e.preventDefault();
                        $(this).tab('show');
                    });
                    $(function() {
                        $('#propretyTab a:last').tab('show');
                    });
                </script>
            </div>
        </div>
    </body>
</html>