<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      lang="en">
    <head>
    </head>
    <body>
        <div id="modify-header">
            <h3 id="modify-label" th:text="'Modify property ' + ${property.title}"></h3>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>

        <div id="delete-header">
            <h3 id="delete-label" th:text="'Delete property ' + ${property.title}"></h3>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>


        <form id="modify-form" th:object="${options}">
            <ul class="unstyled">
                <li>
                    <input id="title" type="text" placeholder="Property title" name="title" th:value="${property.title}" required="required"/>
                </li>
                <li>
                    <input id="address" type="text" placeholder="Address" name="address" th:value="${property.address}" required="required"/>
                </li>
                <li>
                    <input id="city" type="text" placeholder="City" name="city" th:value="${property.city}" required="required"/>
                </li>
                <li>
                    <input id="country" type="text" placeholder="Country" name="country" th:value="${property.country}" required="required"/>
                </li>
                <li>
                    <input id="price" type="text" placeholder="Price" th:value="${property.price}" name="price" required="required"/>
                </li>
                <li>
                    <select id="type" name="type" th:value="${property.type}">
                        <option th:each="type : ${types}" 
                                th:value="${type}" th:text="${type}"></option>
                    </select>
                </li>
                <li>
                    <select id="rooms" name="rooms" th:value="${property.rooms}">
                        <option th:value="1">1 room</option>
                        <option th:value="2">2 rooms</option>
                        <option th:value="3">3 rooms</option>
                        <option th:value="4">4 rooms</option>
                        <option th:value="5">5 rooms</option>
                        <option th:value="6">6+ rooms</option>
                    </select>
                </li>
                <li>
                    <input id="shortDesc" class="short-desc" type="text" placeholder="Short description of the property" name="shortDesc" th:value="${property.shortDesc}" required="required"/>
                </li>
                <li>
                    <textarea id="longDesc" class="long-desc" placeholder="Complete description of the property" th:value="${property.longDesc}" th:text="${property.longDesc}" name="longDesc" required="required"/>
                </li>
                <li>
                    <h4>Options :</h4>
                    <ul class="unstyled">
                        <li><input id="parking" type="checkbox" th:field="*{parking}" th:value="${options.parking}" name="parking"/><span>Parking</span></li>
                        <li><input id="swimmingPool" type="checkbox" th:field="*{swimmingPool}" th:value="#{options.swimmingPool}" name="swimmingPool"/><span>Swimming pool</span></li>
                        <li><input id="wifi" type="checkbox" th:field="*{wifi}" th:value="#{options.wifi}" name="wifi"/><span>Wi-Fi</span></li>
                        <li><input id="laundry" type="checkbox" th:field="*{laundry}" th:value="${options.laundry}" name="laundry"/><span>Laundry</span></li>
                    </ul>
                </li>
                <li>
                    <input class="datepicker" type="text" id="rentStart" placeholder="Rent period start" th:value="${rentStart}" name="rentStart" required="required"/>
                    <i class="icon-calendar"></i>
                </li>
                <li>
                    <input class="datepicker" type="text" id="rentStop" placeholder="Rent period stop" th:value="${rentStop}" name="rentStop" required="required"/>
                    <i class="icon-calendar"></i>
                </li>
            </ul>
            <p>Check your data prior saving !</p>
        </form>

        <p id="delete-body">
            Warning, you're about to delete this property 
            and lose all the comments and evaluations linked to it.
        </p>

        <div id="modify-buttons">
            <button id="modify-submit" type="submit" class="btn btn-success">Save changes</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>
        <div id="delete-buttons">
            <a id="delete-submit" th:href="'/home-rental/s/property/' + ${property.id} + '/delete'" class="btn btn-danger">Delete property</a>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>
    </body>
</html>
