<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      lang="en">
    <head>
        <title tiles:fragment="title">Home Rental | Property Details</title>
    </head>
    <body tiles:fragment="content">
        <div class="page-header">
            <h3 th:text="${property.title}"></h3>
        </div>
        <div class="row">
            <div class="span8">
                <p>
                    <img th:src="${map}"></img>
                </p>
            </div>
            <div class="span4">
                <h3>Description</h3>
                <p th:text="${property.country}"></p>
                <p th:text="${property.type}"></p>
                <div th:switch="${property.rooms}">
                    <p th:case="'1'">1 room</p>
                    <p th:case="*" th:text="${property.rooms}+' rooms'"></p>
                </div>
                <p></p>
                <h5>Options</h5>
                <p th:if="${options.parking}"><i class="icon-check"></i> Parking</p>
                <p th:if="${options.swimmingPool}"><i class="icon-check"> Swimming pool</i></p>
                <p th:if="${options.wifi}"><i class="icon-check"> Wi-Fi</i></p>
                <p th:if="${options.laundry}"><i class="icon-check"> Laundry</i></p>
                <br/>
                <p th:text=" 'Note: '+${totalEval}+'/100'"></p>
                <p>
                    <a th:href=" '/home-rental/user/'+${property.owner.username}">Owner</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="span10">
                <ul class="nav nav-tabs" id="proprety-tab">
                    <li class="active"><a href="#presentation" data-toggle="tab">Presentation</a></li>
                    <li><a href="#pictures" data-toggle="tab">Pictures</a></li>
                    <li><a href="#comments" data-toggle="tab">Comments</a></li>
                </ul>

                <div class="tab-content">
                    <!--tab presentation-->
                    <div class="tab-pane active" id="presentation">
                        <h3 th:text="${property.title}"></h3>
                        <p th:text="${property.longDesc}"></p>
                    </div>
                    <!--tab pictures-->
                    <div class="tab-pane" id="pictures">
                        <div th:each="picture : ${pictures}">
                            <img th:src="@{'/img/property/'+${property.id}+ '/' +${picture}}"></img>
                            <br></br>
                        </div>
                    </div>
                    <!--tab comments-->
                    <div class="tab-pane" id="comments">
                        <table>
                            <thead>
                                <tr>
                                    <th>Comment</th>
                                    <th>User</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="comment : ${comments}">
                                    <td th:text="${comment.message}"></td>
                                    <td th:text="${comment.creator.username}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>