<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      lang="en">
    <head>
        <title tiles:fragment="title">Home Rental | Property Details</title>
    </head>
    <body tiles:fragment="content">
        <div class="page-header">
            <h2 th:text="${property.title}"></h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="span9">
                    <img th:src="${map}"></img>
                </div>
                <div class="span3">
                    <h4>Description</h4>
                    <ul class="unstyled">
                        <li th:text="${property.shortDesc}"></li>
                        <li th:text="${property.type}"></li>
                        <span th:switch="${property.rooms}">
                            <li th:case="'1'">1 room</li>
                            <li th:case="*" th:text="${property.rooms}+' rooms'"></li>
                        </span>
                    </ul>
                    <h5>Options</h5>
                    <ul class="unstyled">
                        <li th:if="${options.parking}"><i class="icon-check"></i> Parking</li>
                        <li th:if="${options.swimmingPool}"><i class="icon-check"></i> Swimming pool</li>
                        <li th:if="${options.wifi}"><i class="icon-check"></i> Wi-Fi</li>
                        <li th:if="${options.laundry}"><i class="icon-check"></i> Laundry</li>
                    </ul>
                    <br/>
                    <div>
                        <h4>
                            <!--<p th:if="${evaluation} &gt; 50" th:text="${evaluation}"></p>-->
                            <span th:if="${evaluation} &gt; 50">Note: <span class="text-success" th:text="${evaluation}">/100</span></span>
                            <span th:if="${evaluation} &lt; 30">Note: <span class="text-error" th:text="${evaluation}">/100</span></span>
                            <!--<span th:if="(${evaluation} &ge; 30) and (${evaluation} &lt; 50)">Note: <span class="text-warning" th:text="${evaluation}">/100</span></span>-->
                        </h4>
                    </div>
                    <address>
                        <strong th:text="${property.title}"></strong><br />
                        <span th:text="${property.address}"></span><br />
                        <span th:text="${property.city} + ', ' + ${property.country}"></span>
                    </address>
                    <address>
                        <strong>Owner's page</strong><br/>
                        <a th:href="'/home-rental/user/'+${property.owner.username}" th:text="${property.owner.username}" />
                    </address>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul class="nav nav-tabs" id="proprety-tab">
                        <li class="active"><a href="#presentation" data-toggle="tab">Presentation</a></li>
                        <li><a href="#pictures" data-toggle="tab">Pictures</a></li>
                        <li><a href="#comments" data-toggle="tab">Comments</a></li>
                    </ul>

                    <div class="tab-content">
                        <!--tab presentation-->
                        <div class="tab-pane active" id="presentation">
                            <p th:text="${property.longDesc}"></p>
                        </div>
                        <!--tab pictures-->
                        <div class="tab-pane" id="pictures">
                            <div th:each="picture : ${pictures}">
                                <img th:src="@{'/img/property/'+${property.id}+ '/' +${picture}}"></img>
                            </div>
                        </div>
                        <!--tab comments-->
                        <div class="tab-pane" id="comments">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Comment</th>
                                        <th>User</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="comment : ${comments}">
                                        <td th:text="${comment.message}"></td>
                                        <td><a th:href="'/home-rental/user/'+${comment.creator.username}" th:text="${comment.creator.username}" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>