<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      lang="en">

    <head>
        <title tiles:fragment="title">Home Rental | Search</title>
        <link rel="stylesheet" tiles:fragment="css-specific" href="/css/search.css" th:href="@{/css/search.css}" />
    </head>

    <body tiles:fragment="content">                
        <div class="row searcher-bar">
            <div class="span12">
                <!-- specific search-bar -->
                <div id="search-bar">
                    <form method="GET" th:action="@{/search}" id="search_form">
                        <fieldset form="search_form">
                            <div class="input-wrapper">
                                <input type="text" class="location" id="location-search" name="location" placeholder="Where do you want to go ?" th:value="${params[0]}" />
                                <input type="hidden" id="latlong" name="latlong" value="" />
                            </div>
                            <div class="input-wrapper">
                                <input type="text" class="checkin" id="checkin" name="checkin" placeholder="Check In" th:value="${params[1]}" />
                                <i class="icon-calendar"></i>
                            </div>
                            <div class="input-wrapper">
                                <input type="text" class="checkout" id="checkout" name="checkout" placeholder="Check Out" th:value="${params[2]}" />
                                <i class="icon-calendar"></i>
                            </div>
                            <div class="btn-group pull-left">
                                <input type="hidden" id="guests-number" name="guests_number" th:value="${params[3]}" />
                                <button class="btn btn-inverse btn-dpd"><strong th:text="${params[3] == '1'} ? ${params[3]} + ' guest' : ${params[3]} + ' guests'">1 guest</strong><i class="icon-user icon-white"></i></button>
                                <button class="btn btn-inverse carret-dpd dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul id="guests-list" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                                    <li><a tabindex="-1" href="#">2 guests</a></li>
                                    <li><a tabindex="-1" href="#">3 guests</a></li>
                                    <li><a tabindex="-1" href="#">4 guests</a></li>
                                    <li><a tabindex="-1" href="#">5 guests</a></li>
                                    <li><a tabindex="-1" href="#">6 guests</a></li>
                                    <li><a tabindex="-1" href="#">7 guests</a></li>
                                    <li><a tabindex="-1" href="#">8 guests</a></li>
                                    <li><a tabindex="-1" href="#">9 guests</a></li>
                                    <li><a tabindex="-1" href="#">10 guests</a></li>
                                    <li><a tabindex="-1" href="#">11 guests</a></li>
                                    <li><a tabindex="-1" href="#">12+ guests</a></li>
                                </ul>
                            </div>

                            <button type="submit" id="btn-search" class="pull-left btn btn-primary"><i class="icon-search icon-white"></i><strong>Search</strong></button>
                            <div class="clearfix"></div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div><!-- /end searcher-bar -->
        
        <div class="row map-wrapper">
            <div class="span9">
                <div id="map-container">
                    <img th:src="${map}" alt="Google Maps Results"></img>
                </div>
            </div>
            <div class="span3">
                <div id="map-caption">
                    <!-- Property type selector -->
                    <div class="search-selector">
                        <span class="selector-title"><strong>TYPE</strong></span>
                        <fieldset name="type_selector" form="search_form">
                            <ul id="property-type">
                                <li class="list-selector">
                                    <input type="checkbox" name="property_type[]" th:disabled="${specs[0]} == 0" value="FLAT" />
                                    <span class="pull-right badge badge-info" th:text="${specs[0]}"></span>
                                    <span>FLAT</span>
                                </li>
                                <li class="list-selector">
                                    <input type="checkbox" name="property_type[]" th:disabled="${specs[1]} == 0" value="HOUSE" />
                                    <span class="pull-right badge badge-info" th:text="${specs[1]}"></span>
                                    <span>HOUSE</span>
                                </li>
                                <li class="list-selector">
                                    <input type="checkbox" name="property_type[]" th:disabled="${specs[2]} == 0" value="LOFT" />
                                    <span class="pull-right badge badge-info" th:text="${specs[2]}"></span>
                                    <span>LOFT</span>
                                </li>
                            </ul>
                        </fieldset>
                    </div><!-- /end search-selector -->

                    <!-- Property price selector -->
                    <div class="search-selector">
                        <fieldset name="price_range" form="search-form">
                            <input type="hidden" name="min_price" th:value="${specs[7]}" />
                            <input type="hidden" name="max_price" th:value="${specs[8]}" />
                        </fieldset>
                        <span class="selector-title"><strong>PRICE</strong></span>
                        <span id="max_price" class="pull-right price" th:text="${specs[8]}"></span>
                        <span id="min_price" class="price" th:text="${specs[7]}"></span>
                        <div id="slider"></div>
                    </div><!-- /end search-selector -->

                    <!-- Property options selector -->
                    <div class="search-selector">
                        <span class="selector-title"><strong>OPTIONS</strong></span>
                        <fieldset name="property_options" form="search-form">
                            <ul id="property-options">
                                <li class="list-selector">
                                    <input type="checkbox" name="property_options[]" th:disabled="${specs[3]} == 0" value="parking" />
                                    <span class="pull-right badge badge-info" th:text="${specs[3]}"></span>
                                    <span>Parking</span>
                                </li>
                                <li class="list-selector">
                                    <input type="checkbox" name="property_options[]" th:disabled="${specs[4]} == 0" value="swimming_pool" />
                                    <span class="pull-right badge badge-info" th:text="${specs[4]}"></span>
                                    <span>Swimming Pool</span>
                                </li>
                                <li class="list-selector">
                                    <input type="checkbox" name="property_options[]" th:disabled="${specs[5]} == 0" value="wifi" />
                                    <span class="pull-right badge badge-info" th:text="${specs[5]}"></span>
                                    <span>Wifi</span>
                                </li>
                                <li class="list-selector">
                                    <input type="checkbox" name="property_options[]" th:disabled="${specs[6]} == 0" value="laundry" />
                                    <span class="pull-right badge badge-info" th:text="${specs[6]}"></span>
                                    <span>Laundry</span>
                                </li>
                            </ul>
                        </fieldset>
                    </div><!-- /end search-selector -->
                </div><!-- /end map-caption -->
            </div>
        </div><!-- /end row -->

        <!-- Bloc Search results -->
        <div class="row">
            <div id="search-results">
                <div id="sort-bar">
                    <span id="sort-bar-results"><strong>RESULTS FOUND : <span id="sort-bar-results-value" th:text="${#lists.size(results)}"></span></strong></span>
                    <span id="sort-bar-sorter"><strong>SORT BY :</strong></span>
                    <div class="btn-group">
                        <button class="btn" id="sorter-price">PRICE</button>
                        <button class="btn" id="sorter-note">NOTE</button>
                    </div>
                </div>
                <ul id="search-results-list">
                    <li class="search-results-item" th:each="r : ${results}" th:attr="data-property-id=${r.propertyId}">
                        <div class="pull-left search-results-item-pict"></div>
                        <div class="pull-left search-results-item-content">
                            <p class="item-content-title" th:text="${r.title}"></p>
                            <p class="item-content-address" th:text="${r.country} + ' - ' + ${r.city}"></p>
                            <p class="item-content-desc" th:text="${r.shortDesc}"></p>
                        </div>
                        <div class="pull-left search-results-item-action">
                            <div class="item-action-price" th:text="'$' + ${r.price}"></div>
                            <div class="item-action-btn">
                                <a href="#" id="btn-booking" class="btn btn-info">Book it !</a>
                                <a href="#" th:href="@{/property/__${r.propertyId}__}" id="btn-consult" class="btn">Consult</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div><!-- /end search-results -->
        </div>

        <!-- Modals -->
        <div id="ajax-login-modal" class="modal hide fade" tabindex="1" role="dialog" aria-labelledby="ajax-login-label" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <img th:src="@{/img/global/ajax-loader.gif}" class="ajax-loader pull-right" alt="Ajax loader animated gif" /><h3 id="ajax-login-label">Home Rental Registration</h3>
            </div>
            <div class="modal-body">
                <p>Welcome to <strong>Home Rental</strong> Website. Please enter your username/password and click on <strong>Login</strong>. If you don't have an account yet, click <a th:href="@{/signup}">here</a>.</p>
                <p class="form-error">
                    <span></span>
                </p>
                <form method="POST" action="" id="auth-ajax-login">
                    <div class="form-group">
                        <label class="pull-left" for="auth_username"><strong>Username :</strong></label>
                        <div class="pull-left field-container">
                            <input type="text" id="auth_username" name="auth_username" maxlength="30" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="pull-left" for="auth_pwd"><strong>Password :</strong></label>
                        <div class="pull-left field-container">
                            <input type="password" id="auth_pwd" name="auth_pwd" maxlength="30" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn cancel" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <input type="submit" id="ajax-login-btn" form="auth-ajax-login" class="btn btn-primary" value="Login" />
            </div>
        </div>
        
        <div id="booking-modal" class="modal hide fade" tabindex="1" role="dialog" aria-labelledby="booking-label" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <img th:src="@{/img/global/ajax-loader.gif}" class="ajax-loader pull-right" alt="Ajax loader animated gif" /><h3 id="booking-label">Home Rental Booking</h3>
            </div>
            <div class="modal-body">
                <div id="booking-container">
                    <p>Please, confirm your booking for the following rental : </p>
                    <form method="POST" action="" id="booking-process">
                        <ul class="unstyled">
                            <li class="booking-item">
                                <input type="hidden" name="target_property" value="" />
                                <dl class="booking-desc">
                                    <dd class="pull-right hrb" id="b-title"></dd>
                                    <dt>Title :</dt>
                                </dl>
                            </li>
                            <li class="booking-item">
                                <input type="hidden" name="date_rent_start" value="" />
                                <dl class="booking-desc">
                                    <dd class="pull-right hrb" id="b-checkin"></dd>
                                    <dt>Date rent start :</dt>
                                </dl>
                            </li>
                            <li class="booking-item">
                                <input type="hidden" name="date_rent_stop" value="" />
                                <dl class="booking-desc">
                                    <dd class="pull-right hrb" id="b-checkout"></dd>
                                    <dt>Date rent stop :</dt>
                                </dl>
                            </li>
                            <li class="booking-item">
                                <input type="hidden" name="guests_number" value="" />
                                <dl class="booking-desc">
                                    <dd class="pull-right hrb" id="b-guests"></dd>
                                    <dt>Number of guests :</dt>
                                </dl>
                            </li>
                            <li class="booking-item">
                                <input type="hidden" name="price" value="" />
                                <dl class="booking-desc">
                                    <dd class="pull-right hrb" id="b-price"></dd>
                                    <dt>Price ($) :</dt>
                                </dl>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn cancel" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <input type="submit" form="booking-process" class="btn btn-danger" value="Confirm booking" />
            </div>
        </div>

    </body>
</html>