<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      lang="en">
    <head>
    </head>
    <body>
        <div id="modify">
            <form id="modify-form">
                <ul class="unstyled">
                    <li>
                        <input type="text" id="username" placeholder="Username" th:value="${user.username}" />
                    </li>
                    <li>
                        <input type="text" id="name" placeholder="Name" th:value="${user.name}" />
                    </li>
                    <li>
                        <input type="text" id="firstname" placeholder="Firstname" th:value="${user.firstname}" />
                    </li>
                    <li>
                        <input type="text" id="email" placeholder="Email" th:value="${user.email}" />
                    </li>
                </ul>
                <p>Check your data prior saving !</p>
            </form>
        </div>
        <div id="delete">
            <p id="delete-body">
                Warning, you're about to delete your account 
                with all the properties that you created.
            </p>
            <form id="delete-form">
                <input type="hidden" id="id" name="id" th:value="${user.id}" />
            </form>
        </div>
    </body>
</html>
