<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      lang="en">
    <head>
        <title tiles:fragment="title">Home rental | Account</title>

    </head>
    <body tiles:fragment="content">
        <div class="page-header">
            <h3 th:text="${user.username}"></h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="span9">
                    <img th:src="${map}" th:alt="'Properties of' + ${user.username}"></img>
                </div>
                <div class="span3">
                    <h3>My account</h3>
                    <p th:text="${user.username}"></p>
                    <p th:text="${user.name}"></p>
                    <p th:text="${user.firstname}"></p>
                    <p th:text="${user.email}"></p>
                    <p></p>
                    <p th:text="'Number of property : ' +${propertyCount}"></p>
                    <button class="btn btn-small">Modify</button>
                    <button class="btn btn-small btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </body>
</html>